div.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: midnightblue;
  height: 100vh;
  width: 100vw;
}

.sirena {
  height: 700px;
  width: auto;
}

#sirena {
  grid-column-start: 3;
  grid-row-start: 2;
}

.mattdamon {
  height: 240px;
  width: auto;
  grid-column: 4;
  grid-row: 1;
}

#mattdamon {
  grid-column-start: 1;
  grid-row-start: 3;
}

.title {

}

.call {
  grid-column: 1 / span 4;
  grid-row: 1;
}

.response {
  grid-column: 2;
  grid-row: 2;
}

.tryagain {

}
