h1 {
  font-weight: 100;
  font-size: 2.5em;
}

#eight_box {
  width: 600px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  font-weight: 100;
  font-family: "Blum";
}

div.answer {
  background-image: url("../images/bluebubble.png");
  background-size: 100% 100%;
  

}

p#eight {
  font-size: 5em;
  margin: 20% auto;
  color: white;
}

p#answer {
  padding: 23px;
  color: black;
  letter-spacing: 2px;
  font-size: 18px;
}

#question {
  margin: 20px;
  padding: 10px;
  width: 400px;
  font-size: 22px;
}

#info {
  font-size: 22px;
}
